<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
    <div class="info"></div>
    <ul class="nav-button">

      <input type="checkbox" id="1" />
      <label for="1" class="hamburger">&#9776;</label>


      <div class="links">
        <li><a href="/">خانه</a></li>
        <li><a href="/">درباره ی ما</a></li>
        <li><a href="/">سبد خرید</a></li>
        <li><a href="/">ارتباط</a></li>
      </div>
    </ul>
  </nav>
</body>
