* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
:root{
	--nav-bgcl:#E1F7F5;
	--nav-fgcl:#1E0342;
	--bordercl:gray;
	--acent:green;
	--inputbg:darkgray;
	--buttonbg:darkgray;
	--input-hover-outline:white;
	--input-hover-bg:white;
	--input-border-hover-w:white;
	--input-focus-bg:white;
	--inputfg:white;
	--nav-button-hover-bg:white;
	--nav-button-hover-fg:#1E0342;
	--nav-menu-bg:#9AC8CD;
	--button-hoverbg:navy;
	--button-pressbg:#1E0342;
	--inputplaceholher:lightgray;
	--nav-h:3rem;
	--input-border-w:2px;
	--input-border-focus-w:4px;
	--transition:100ms;




	--hamburger-w:1rem;
	--hamburger-h:1rem;
	--hamburger-g:.1rem;
	--hamburger-t: calc((var(--hamburger-h) - var(--hamburger-g) * 2)/3);
	--hamburger-cl:black;

	--roundness: 10000000px;
}
#nav{
       	background-color:var(--nav-bgcl);
	color:var(--nav-fgcl);
	height:var(--nav-h) ;
}
#nav a {
	all:unset;
	padding :calc(var(--nav-h)/3) .5rem;
	height: calc(var(--nav-h)/3) ;
	display:inherit;
}
#searchbox{
	display:inherit;
	height: var(--nav-h) ;
}
#search::placeholder{
	color:var(--inputplaceholher);
	font-style:italic;
}
#search:hover{
	outline-color: var(--input-hover-outline);
	outline-width:var(--input-border-hover-w);
	background:var(--input-hover-bg);
}
#search:focus{
	outline-color: var(--acent);
	outline-width:var(--input-border-focus-w);
	background:var(--input-focus-bg);

}
#searchbutton svg {
	height:calc(var(--nav-h)/4 );
	left:calc((var(--nav-h)/2 - var(--nav-h)/4)/2 );
	top:calc((var(--nav-h)/2 - var(--nav-h)/4)/2 );
	aspect-ratio:1/1;
	position:absolute;
}
#searchbutton:active{
	background:var(--button-pressbg);
}
#searchbutton:hover{
	background:var(--button-hoverbg);
}
#searchbutton {
	position:relative;
	aspect-ratio:1/1;
	margin:calc(var(--nav-h)/4) .5rem;
	height:calc(var(--nav-h)/2 );
	display:inline-block;
	float:left;
	background:var(--buttonbg);
	border-radius:10000000px;

}

#search{
	padding:0 .5rem;
	margin:calc(var(--nav-h)/4) .5rem;
	height:calc(var(--nav-h)/2 );
	outline-color: var(--bordercl);
	outline-style:solid;
	border-width:0;
	outline-width:var(--input-border-w);
	border-radius:var(--roundness);
	background:var(--inputbg);
	color:var(--inputfg);
}
#nav ul li:nth-last-child(1){
	float:right;
}

#nav li {
	height: var(--nav-h) ;
	display: inline-block;

}
#nav a:hover {
	background:var(--nav-button-hover-bg);
	color:var(--nav-button-hover-fg);
}
#hamburger { display:none;}

@media (max-width: 700px) {
input[type='checkbox']:not(:checked)~ul {
	display:none;
}
	#tb {
	margin-top:calc(var(--nav-h)/4);
	}
	

	#bb {
	margin-top:calc(var(--nav-h)/4 + var(--hamburger-g) * 2 + var(--hamburger-t) * 2);
	}
	#me{
	margin-top:calc(var(--nav-h)/4 + var(--hamburger-g) + var(--hamburger-t));
	}
	#tb,#me,#bb {
		position:absolute;
		z-index:3;
	margin-left:1rem;
	margin-right:1rem;
		height:var(--hamburger-t);
		width:var(--hamburger-w);
		background:var(--hamburger-cl);
		display:block;
		top:0;
		left:0;
		border-radius:10000000px;
		transition: var(--transition);
	}
	#nav #hamburger:checked ~ #bb{
		transform-origin:left;
		rotate: -45deg;
		transition: rotate var(--transition);
	}
	#nav #hamburger:checked ~ #tb{
		transform-origin:left;
		rotate:45deg;
		transition: rotate var(--transition);
	}
	#nav #hamburger:checked ~ #me{
		opacity:0;
		transition: opacity var(--transition);
	}
	#hamburger {
		position:relative;
		z-index:8;
		cursor:pointer;
		opacity:0;
		float: left;
		display:block;
	margin:calc(var(--nav-h)/4) 1rem;
	height:calc(var(--nav-h)/2 );
	outline-color: var(--bordercl);
	}
	#hamburger:checked{

	}
	#nav li {
		display: block;
	}
	#nav ul {
		background: var(--nav-menu-bg);
		height: calc(100vh - var(--nav-h));
		top: calc(var(--nav-h));
		position:fixed;
		
	}
}
