<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="front.css">
</head>

<body class="bascket" dir="rtl">

    <div class="carts">



        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>
        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>
        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>
        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>
        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>

        <div class="itemincart">
            <div class="image">
                <img src="picture/Untitled.jpg" alt="">
            </div>
            <div class="info">
                <h3>موز</h3>
                <p>cceeccec</p>
                <h5>kcxndwwwwckn</h5>

            </div>
        </div>
    </div>


    <div class="checkout">

        


        <hr>
        <button>خرید</button>
    </div>


</body>

</html>