.top-bar {
    background-color: #4682b4;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
  }

  .second-row {
    background-color:#4682b4 ;
    color: #fff;
    padding: 10px;
  }
  .left-items {
    margin-right: auto;
}

.right-items {
    margin-left: auto;
}
  .btn {
    background-color: #fff;
    color: #4682b4;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #ccc;
  }

  .nav-item {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
  }

.nav-item:not(:last-child):hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.nav-item:hover {
    font-weight: bold;
}


.footer {
  margin-top: 500px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.footer-left{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-left a, .footer-center a {
  color: #fff;
  text-decoration: none;
}

.footer-right p {
  margin: 5px 0;
  font-size: 14px;
}
.footer-left img {
  max-width: 30px;
  width: 100%;
  height: auto;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .footer-left, .footer-center, .footer-right {
    flex-direction: column;
    text-align: center;
  }
  .footer-left {
    margin-right: 0;
    margin-bottom: 10px;
}

.footer-right {
    margin-left: 0;
}
.footer-left img {
  max-width: 20px;
}
.footer-right {
  font-size: 12px;
}
}