:root {
    --background-color: #1f293a;
    --h2-col: #0ef;
    --border-col1: #2c4766;
    --border-col2: #0ef;
    --text-btn-col: #1f293a;
    --back-btn-col: #0ef;
    --link-col: #0ef;
    --danger-col: #f72585;

    --back: #FFFFFF;
    --button: #1F7A8C;
    --title: #BFDBF7;
    --text: #022B3A;
    --border: #BFDBF7;
    --link: #4EEAF6;
    --shadow: #E3E1D9;
    --shadow-hover: #B4B4B8;
    --text-hover: #291F71;
    --border-hover: #69778d;
    
    --back-bascket: #fcfcfc;

    --border-carts:#E3E1D9;
    
    --border-items: #BFDBF7;
    --shadow-items: #E3E1D9;
    --back-items: #FaFaFa;

    --back-checkout: #f8f7f7;
    --button-checkout: #55c3da;
    --text-checkout: #4b4b4b;
    --hr-checkout: #787c83;
    --border-checkout: #E3E1D9;
    
    --button-checkout-hover: #60daf3;
}


/*
color in theme for site
blue
white
grey
purple

site for select color 
https://colorhunt.co/palette
link for select color
https://colorhunt.co/palette/1e03420e46a39ac8cde1f7f5
https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e
https://colorhunt.co/palette/211951836fff15f5baf0f3ff
https://colorhunt.co/palette/f7f7f84eeaf6c82586291f71
https://colorhunt.co/palette/b4b4b8c7c8cce3e1d9f2efe5